#include<winresrc.h>
#include"record.h"
#include"mainform.h"


IDD_BITMAP_ROSHAN  BITMAP DISCARDABLE  "roshan.bmp"
IDD_ICON_PLAYER ICON DISCARDABLE "player.ico"
IDD_ICON_DEFAULT ICON DISCARDABLE "defaulticon.ico"

IDD_MENU MENU DISCARDABLE
BEGIN
POPUP "&File"
BEGIN
//POPUP "&New"
//BEGIN
//MENUITEM "Pla&ylist\t Ctrl+Y",IDD_FILE_PLAYLIST
//END
//MENUITEM SEPARATOR
MENUITEM "Open &File\t Ctrl+O",IDD_FILE_OPEN_FILE
//MENUITEM "Open &Directory\t Ctrl+D",IDD_FILE_OPEN_DIRECTORY
MENUITEM SEPARATOR
MENUITEM "&Exit\t Alt+F4",IDD_FILE_EXIT
END
POPUP "&View"
BEGIN
//MENUITEM "&Playlist",IDD_VIEW_PLAYLIST
MENUITEM "&Always On Top\tCtrl+T",IDD_VIEW_ONTOP
POPUP "&Transparency"
BEGIN
MENUITEM " 0%",IDD_VIEW_ZERO
MENUITEM "10%",IDD_VIEW_TEN
MENUITEM "20%",IDD_VIEW_TWENTY
MENUITEM "30%",IDD_VIEW_THIRTY
MENUITEM "40%",IDD_VIEW_FORTY
MENUITEM "50%",IDD_VIEW_FIFTY
MENUITEM "60%",IDD_VIEW_SIXTY
MENUITEM "70%",IDD_VIEW_SEVENTY
MENUITEM "80%",IDD_VIEW_EIGHTY
MENUITEM "90%",IDD_VIEW_NINTY
END
//MENUITEM "&Options\t Ctrl+O",IDD_VIEW_OPTIONS
END
POPUP "&Play"
BEGIN
MENUITEM "&Play\t Ctrl+P",IDD_PLAY_PLAY
MENUITEM "&Pause\t Ctrl+U",IDD_PLAY_PAUSE
MENUITEM "&Stop\t Ctrl+S",IDD_PLAY_STOP
MENUITEM SEPARATOR
MENUITEM "&Repeat\t Ctrl+R",IDD_PLAY_REPEAT
//MENUITEM "S&eek To",IDD_PLAY_SEEK
MENUITEM SEPARATOR
POPUP "&After Playback"
BEGIN
MENUITEM "&Do Nothing",IDD_PLAYBACK_NOTHING
MENUITEM SEPARATOR
MENUITEM "&Quit Player",IDD_PLAYBACK_CLOSEPLAYER
MENUITEM "&Log Off",IDD_PLAYBACK_LOGOFF
MENUITEM "&Restart",IDD_PLAYBACK_RESTART
MENUITEM "&Shutdown",IDD_PLAYBACK_SHUTDOWN
END
END
POPUP "&Settings"
BEGIN
MENUITEM "&Record\t Ctrl+R",IDD_SETTINGS_RECORD
END
POPUP "&Help"
BEGIN
MENUITEM "&About Author...\tCtrl+A",IDD_HELP_ABOUT
END
END






IDD_DIALOG_RECORD DIALOG DISCARDABLE 30,10,220,150
STYLE WS_SYSMENU
EXSTYLE WS_EX_CONTEXTHELP
CAPTION "Recorder Settings"
BEGIN
LTEXT "Select the destination path:",IDD_RECORD_STATIC_OUTPUT,10,15,100,20
EDITTEXT  IDD_RECORD_OUTPUT,10,30,180,12,ES_READONLY|ES_AUTOHSCROLL
PUSHBUTTON "...",IDD_RECORD_BROWSE,200,30,12,12
PUSHBUTTON "Output Format",IDD_RECORD_GROUPBOX,10,50,80,45,BS_GROUPBOX
PUSHBUTTON "MP3",IDD_RECORD_MP3,20,68,30,10,BS_AUTORADIOBUTTON|WS_GROUP
PUSHBUTTON "WAV",IDD_RECORD_WAV,20,79,30,10,BS_AUTORADIOBUTTON
LTEXT "Frequency:",IDD_RECORD_STATIC_FREQUENCY,100,55,100,20
COMBOBOX  IDD_RECORD_FREQUENCY,150,52,50,12,CBS_DROPDOWNLIST
LTEXT "Bitrate:",IDD_RECORD_STATIC_BITRATE,100,70,100,20
COMBOBOX  IDD_RECORD_BITRATE,150,67,50,12,CBS_DROPDOWNLIST
LTEXT "Channel:",IDD_RECORD_STATIC_CHANNEL,100,85,100,20
COMBOBOX  IDD_RECORD_CHANNEL,150,82,50,12,CBS_DROPDOWNLIST
PUSHBUTTON "OK",IDD_RECORD_OK,35,120,60,20
PUSHBUTTON "Cancel",IDD_RECORD_CANCEL,120,120,60,20
END


IDD_DIALOG_ABOUT DIALOG DISCARDABLE  50, 50, 328, 300
STYLE WS_SYSMENU
CAPTION "About Author"
FONT 8, "MS Sans Serif"
BEGIN
PUSHBUTTON "OK",IDD_HELP_OK,1,280,327,20
PUSHBUTTON "More Info...",IDD_HELP_INFO,200,250,120,20
END


IDD_ACCELERATOR ACCELERATORS
BEGIN
 "O",IDD_FILE_OPEN_FILE,VIRTKEY,CONTROL
 "R",IDD_SETTINGS_RECORD,VIRTKEY,CONTROL
 "T",IDD_VIEW_ONTOP,VIRTKEY,CONTROL
 "A",IDD_HELP_ABOUT,VIRTKEY,CONTROL
 "P",IDD_PLAY_PLAY,VIRTKEY,CONTROL
 "U",IDD_PLAY_PAUSE,VIRTKEY,CONTROL
 "S",IDD_PLAY_STOP,VIRTKEY,CONTROL
END


1 VERSIONINFO
FILEVERSION 6,0,2900,2869
PRODUCTVERSION 6,0,2900,2869
FILEOS 0x40004
FILETYPE 0x2
{
BLOCK "StringFileInfo"
{
	BLOCK "040904B0"
	{
		VALUE "FileDescription", "Media Player(Audio)"
		VALUE "FileVersion", "1.0.0.1"
		VALUE "InternalName", "RB Super Player"
		VALUE "OriginalFilename", "RB Super Player"
		VALUE "ProductVersion", "1.0.0.1"
	}
}
}
